

    /* font a intégrer au code */

@media screen and (min-width: 980px){
    #pet-name {
      display: flex;
      justify-content: center;
      width: 52.54088rem;
      height: 4rem;
      padding-left: 5rem;
      font-size: 3rem;
      background-color: var(--secondaryBlue);
      margin: 0 0 0 0;
      border: solid black;
      border-width: var(--myBorderWidth);
      border-radius: var(--myBorderRadius);
      z-index: 1;
      font-family: var(--primaryFont), sans-serif;
    }
    header {
      justify-content: center;
      align-items: center;
      padding:0 10rem 0 10rem;
    }
    
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 0.5rem;
    }
  
    
  
    .nav-buttons {
      width: 50rem;
      justify-content: space-around;
    }

    li a {
      padding: 0 4rem 0 4rem;
    }
    .containerBlocUn {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: 70px;
    }
  
    .dragonStates {
      align-items: center;
    }
  
    .dragonGame {
      background-size: contain;
      margin-left: 10rem;
      padding: 10rem 10rem 10rem 10rem;

    }

    #firstsection {
      float: left;
      width: 25%;
      margin-left: 15%;
      margin-right: 2rem;
    }
  
    #sectionTwo {
      width: 25%;
      float: right;
      margin-right: 15%;
    }
  
    .interaction-button {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-right: 17rem;
    }

 
  
    .nameTheDragon {
      width: 21.25rem;
      height: 10rem;
    }
    .input {
      padding: 1rem 0 1rem 0;
      font-size: larger;
    }
  
    #sectionThree {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-items: center;
      width: 50%;
      margin: auto;
    }
  
    #team {
 
      text-align: center;
    }
    footer {
      background-color: var(--pinkColor);
      border: var(--myBorder);
      border-radius: var(--myBorderRadius);
      border-width: var(--myBorderWidth);
      margin-top: 2rem;
      margin-bottom: 0px;
      height: 2rem;
    }
}

