*{
    box-sizing: border-box;
    font-family: 'Irish Grover', cursive;
}
/* @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap'); */

:root {
    --primaryBlue : #5AA9E6;
    --secondaryBlue: #7FC8F8;
    --pinkColor : #FA85A6;
    --whiteColor : #F5F5F5;
    --redColor : #D05353;
    --myBorder : solid black;
    --myBorderWidth : 1.5px;
    --myBorderRadius : 7px;
    --primaryFont : "Irish Grover",

    /* font a intégrer au code */
}

body{
    background-color: var(--primaryBlue);
    margin-left: 1rem;
    margin-right: 1rem;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.logo{
    align-items: flex-start;
    background-color: var(--pinkColor);
    background-image: url(/Divers/logo_tamagotchi\ 1.png);
    background-size: cover;
    padding: 2.8rem;
    border: var(--myBorder);
    border-radius: 100%;
    border-width: 2px;
    z-index: 2;
    /* position: fixed; */

}


#pet-name{
    display: flex;
    justify-content: center ;
    padding-left: 5rem;
    font-size: 3rem;
    background-color: var(--secondaryBlue);
    margin: 0 0 0 0 ;
    border:solid black;
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    z-index: 1;
    font-family: var(--primaryFont), sans-serif ;
    /* position: fixed; */

}

.button-section {
    padding-left: 0rem;

}

.nav-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    background-color: var(--whiteColor);
    border: var(--myBorder);
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    margin: 0 0 0 0;
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    margin-left: 0rem;
    z-index: 1;

}
li a {
    text-decoration: none;
    background-color: var(--pinkColor);
    color: black;
    padding: 0.3rem;
    border-radius: var(--myBorderRadius);
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
}

.dragonGame {
    background-color: var(--secondaryBlue);
    border-radius: var(--myBorderRadius);
    text-align: center;
}

.alert {
    text-align: center;
    margin-top: 0;
    margin-bottom: .5rem;
}

/*Section Nomme le Dragon et Boutons*/

.dragon-game {
    display: contents;
}

.nameTheDragon {
    background-color: var(--pinkColor);
    border: var(--myBorder);
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    padding: 0 2rem 0 2rem;
}

.defaultBox {
    display: contents;
    text-align: center;
}

.secondBox {
    display: none;
}

.secondBox>form {
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    gap: .5rem;
}

.playButton {
    margin: 0 7rem 0 7rem;
    border-radius: var(--myBorderRadius);
    border: none;

}

#dName {
    background-color: var(--whiteColor);
    border: none;
    border-radius: var(--myBorderRadius);
    padding: 100;
    height: 1.5rem;
}

.thirdBox {
    display: none;
    text-align: center;
}

.three-buttons {
    display: none;
}

.interaction-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#food-Button {
    background-color: var(--primaryBlue);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-shadow: none;
    border: none;

    
    
}
#water-Button {
    background-color: var(--primaryBlue);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 27px;
    box-shadow: none;
    border: none;
    
}

#health-Button {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 27px;
    background-color: var(--primaryBlue);
    box-shadow: none;
    border: none;

    
}

/*Section Instruction*/

#instruction {
    background-color: var(--pinkColor);
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);
    text-align: center;
}

.instructions {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    list-style-type: none;
    background-color: var(--whiteColor);
    padding: 2rem 2rem 2rem 2rem;
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);
}

/*Section Commentaire*/

#review {
    background-color: var(--pinkColor);
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);
    text-align: center;
}

.reviews {
    margin: 0;
    background-color: var(--whiteColor);
    padding: 1.5rem;
    border: 3px var(--myBorder);
    border-radius: 10px;
    border-width: var(--myBorderWidth);
}

.form-pseudo {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .5rem;
}

.form-mail {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .5rem;
}

.form-comment {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .5rem;
}
#pseudo {
    width: 10rem;
    margin-left: .5rem;
}

#mail {
    width: 10rem;
    margin-left: .5rem;
}

#commentaires {
    width: 10rem;
    height: 7.5rem;
    margin-left: .5rem;
    }

.form-button {
    display: flex;
    justify-content: end;
    text-align: center;
}

 /*Section Equipe*/

 #team {
    background-color: var(--pinkColor);
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);
    text-align: center;
 }

 .theTeam {
    margin: 0 0 0 0;
    background-color: var(--whiteColor);
    padding: 2rem 2rem 2rem 2rem;
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);

 }

/*Footer*/

 footer{
    background-color: var(--pinkColor);
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);
    text-align: center;

 }
