*{
    box-sizing: border-box;
}
/* @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap'); */

:root {
    --primaryBlue : #5AA9E6;
    --secondaryBlue: #7FC8F8;
    --pinkColor : #FA85A6;
    --whiteColor : #F5F5F5;
    --redColor : #D05353;
    --myBorder : solid black;
    --myBorderWidth : 1.5px;
    --myBorderRadius : 7px;
    --primaryFont : "Irish Grover",

    /* font a intégrer au code */
}

body{
    background-color: var(--primaryBlue);
    margin-left: 1rem;
    margin-right: 1rem;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.logo{
    align-items: flex-start;
    background-color: var(--pinkColor);
    background-image: url(logo_tamagotchi\ 1.png);
    background-size: cover;
    padding: 2.8rem;
    border: var(--myBorder);
    border-radius: 100%;
    border-width: 2px;
    z-index: 2;
    /* position: fixed; */

}


.pet-name{
    display: flex;
    justify-content: center ;
    padding-left: 5rem;
    font-size: 3rem;
    background-color: var(--secondaryBlue);
    margin: 0 0 0 0 ;
    border:solid black;
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    z-index: 1;
    font-family: var(--primaryFont), sans-serif ;
    /* position: fixed; */

}
.button-section {
    padding-left: 0rem;

}


.nav-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    background-color: var(--whiteColor);
    border: var(--myBorder);
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    margin: 0 0 0 0;
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    margin-left: 0rem;
    z-index: 1;

}
li a {
    text-decoration: none;
    background-color: var(--pinkColor);
    color: black;
    padding: 0.3rem;
    border-radius: var(--myBorderRadius);
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;


}

.dragonGame {
    background-color: var(--secondaryBlue);
}

.nameTheDragon {
    background-color: var(--pinkColor);
    border: var(--myBorder);
    border-width: var(--myBorderWidth);
    border-radius: var(--myBorderRadius);
    padding-left: 30%;
}



#instruction {

    background-color: var(--pinkColor);
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);
    padding-left: 30%;
}
.instructions {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    list-style-type: none;
    background-color: var(--whiteColor);
    padding: 2rem 2rem 2rem 2rem;
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);
}

/*Section Commentaire*/

#review {
    background-color: var(--pinkColor);
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);
    padding-left: 30%;
}

.reviews {
    margin: 0 0 0 0;
    background-color: var(--whiteColor);
    padding: 2rem 2rem 2rem 2rem;
    border: 3px var(--myBorder);
    border-radius: 10px;
    border-width: var(--myBorderWidth);
}



#commentaires {
    width: 200px;
    height: 100px;
    }

#send-button {
    text-align: center;
}

 /*Section Equipe*/

 #team {
    background-color: var(--pinkColor);
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);
    padding-left: 30%;

 }

 .theTeam {
    margin: 0 0 0 0;
    background-color: var(--whiteColor);
    padding: 2rem 2rem 2rem 2rem;
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);

 }

/*Footer*/

 footer{
    background-color: var(--pinkColor);
    border: var(--myBorder);
    border-radius: var(--myBorderRadius);
    border-width: var(--myBorderWidth);

 }